# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.env
.venv
ENV/
venv/

# PyInstaller
*.manifest
*.spec

# Logs
*.log

# Unit test / coverage reports
.pytest_cache/
.coverage*
hypothesis/
htmlcov/

# IDEs and editors
.idea/
.vscode/
*.swp

# FastAPI specific
**/__pycache__/

# System files
.DS_Store
